@import '../../utils/_colors.scss';

.about__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 30px;

    @media(min-width: 1000px) {
        // height: 310px;
    }
}

.about__block--reverse {
    flex-direction: row-reverse;
}

.about__block--right {
    flex-wrap: wrap-reverse; 
}

.about__image {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        padding-top: 30px;

        img {
            height: 100%;
            max-width: 100%;
            // border: 3px solid transparent;
            // border-image: linear-gradient(to left, $color-primary 0%, $color-secondary 100%);
            // border-image-slice: 1;
        }

        @media(min-width: 850px) {
            width: 314px;
            height: auto;
            padding-top: 0;
            display: initial;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
}

.about__text {
    width: 100%;
    padding: 10px 20px;
    text-align: center;

    .text__title {
        display: inline-block;
    }

    p {
        text-align: initial;
        margin-top: 10px;
        
    }

    @media(min-width: 850px) {
        padding: 20px 40px;
        width: 59%;

        p {
            margin-bottom: 0;
        }
    }

    @media(min-width: 1000px) {
        width: 64%;
    }
}