@import '../../utils/_colors';

.footer {
	text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #fff;
    font-size: 0.8em;
    padding: 5px 20px 0 20px;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    .social-icons {
        font-size: 1.25em;
        margin-right: 40px;
        margin-top: 11px;

        .social-icon {
            padding-left: 10px;
            color: #000;

            i {
                padding: 5px;
            }
        
            &:hover {
                i {
                    // color: $color-primary;
                    background: url('../../assets/images/background.png') no-repeat;
                    background-size: cover;
                    
                }   
            }
        }

        .fa-instagram {
            font-size: 1.1em;
        }
    }

    @media(max-width: 850px) {
        flex-wrap: wrap-reverse;
        text-align: center;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 10px;
        height: 80px;

        p {
            width: 100%;
            margin-top: 0;
        }

        .social-icons {
            margin-right: 0;
            margin-top: 0;
        }
    }
}