.list {
    h2 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 1.4em;
    }

    .list__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0;

        img {
            width: 80%;
            margin-left: 50%;
            transform: translateX(-50%);
        }

        @media(min-width: 650px) {
            &:nth-of-type(even) {
                .item__text {
                    order: 1;
                    width: 50%;
                }
    
                .item__img {
                    order: 0;
                }
            }

            .item__text {
                width: 52%;
            }
        
            .item__img {
                width: 44%; 
        
                img {
                    width: 100%;
                }
            }
        }
    }

   

    li {
        padding: 5px;
        padding-left: 1.5em;

        &:before {
            background: url('../../assets/images/paw.png') no-repeat;
            background-size: contain;
            content: '';
            display: inline-block;
            margin-left: -1.5em; /* same as padding-left set on li */
            width: 1.5em; /* same as padding-left set on li */
            height: 1.15em;
            margin-bottom: -2px;
        }
    }
}