.portfolio {
    padding-top: 70px;
    margin-bottom: 115px;
    // height: calc(100vh - 125px);

    .react-photo-gallery--gallery {
        height: 100%;
        // overflow: scroll;
    }

    @media(min-width: 850px) {
        margin-bottom: 57px;
    }
}