@import '../../utils/_colors';

.header {
	.icon__hamburger, .icon__close, .mobile__logo {
		display: none;
	}
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 10;
}

.header__inner {
	padding: 16.5px 20px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.header__logo {
	padding: 0 5px;
	width: 200px;
	background-image: url('../../assets/images/background.png');
	box-shadow: 0 0 8px 8px white inset;
	background-size: cover;

	img {
		max-height: 100%;
		max-width: 200px;
	}
}

.header__nav {
	ul {
		margin: 0;
		font-size: 14px;

		li {
			display: inline-block;
			margin-top: 10px;
			position: relative;

			a {
				color: black;
				text-decoration: none;
				padding: 20px 25px;
				font-weight: bold;

				&:hover {
					color: $color-primary;
					transition: all 0.3s;
				}
			}

			.nav--active {
				color: #fff;

				@media(min-width: 861px) {
					color: #000;
					&:before {
						background-image: url('../../assets/images/paw.png');
						content: '';
						position: absolute;
						top: -3px;
						left: 0px;
						height: 20px;
						width: 20px;
						background-size: cover;
					}
				}
				
			}
		}
	}
}

@media(max-width: 860px) {
	.header {
		display: flex;
		justify-content: space-between;

		.icon__hamburger {
			display: initial;
			margin-top: 25px;
			margin-right: 10px;
			position: relative;
			z-index: 10;
			cursor: pointer;

			.icon-hamburger {
				padding: 10px;
			}
			 
			&:hover {
				.icon-hamburger {
					background: url('../../assets/images/background.png') no-repeat;
					background-size: cover;
				}
			}
		}

		.mobile__logo {
			display: initial;
			background-image: url('../../assets/images/background.png');
			box-shadow: 0 0 20px 25px white inset;
			background-size: cover;

			img {
				padding: 16px 20px;
				max-height: 100%;
				max-width: 200px;
			}
		}
	}

	.header__inner {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		display: block;
		padding-left: 0;
		text-align: center;
		font-size: 1.3em;
		font-weight: bold;
		opacity: 0;
		pointer-events: none;
		padding-top: 30px;
		background-color: rgba(38, 133, 155,0.9);

		img {
			display: none;
		}

		ul {
			margin-top: 50%;
			transform: translateY(-50%);
			padding-left: 0;

			li {
				padding: 20px 0;
				display: block;
			}
		}
	}

	.header__inner--active {
		opacity: 1;
		transition: opacity 0.5s;
		pointer-events: initial;
	}
}