@font-face {
	font-family: 'Cavorting';
	font-style: normal;
	src: url('./assets/fonts/Cavorting.otf');
}
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
