@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/icomoon.eot?oa0lty');
    src:  url('./assets/fonts/icomoon.eot?oa0lty#iefix') format('embedded-opentype'),
      url('./assets/fonts/icomoon.ttf?oa0lty') format('truetype'),
      url('./assets/fonts/icomoon.woff?oa0lty') format('woff'),
      url('./assets/fonts/icomoon.svg?oa0lty#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-close:before {
    content: "\e944";
  }
  .icon-hamburger:before {
    content: "\e945";
  }
  