@import '../../utils/_colors';

.about {
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 90px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    h3 {
        margin-top: -20px;
    }

    @media(min-width: 850px) {
        padding: 30px;
        margin-bottom: 50px;
    }
}