@import './utils/_colors.scss';
@import './utils/_fonts.scss';
@import './utils/_icons.scss';

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	overflow-x: hidden;
	font-family: 'Karla', sans-serif;
	background-color: #f8f8f8;
}

h1, .h1 {
	font-size: 2em;
    margin-bottom: 0;
}

h2, .h2 {
	font-size: 1.5em;
	margin-bottom: 0;
}

h3, .h3 {
	font-size: 1.5em;
	font-weight: normal;
}

p {
	font-size: 1.2em;
	line-height: 1.4em;
	white-space: pre-wrap;
}

a {
	text-decoration: none;
	color: $color-primary;

	&:hover, &:active, &:focus {
		color: darken($color-primary, 25%);
		transition: color 0.5s;
	}
}

ul {
	list-style-type: none;
	font-size: 1.2em;
	margin: 0;
	padding-left: 0;
}

.small-reading {
	margin: 20px auto;
    p {
        font-size: 13px;
        margin: 0 auto;
        text-align: center;
    }
}

.paw-line {
	// margin-left: 50%;
	// transform: translateX(-50%);
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 5px;
	position: relative;
	width: 20px;

	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 1px;
		top: 12px;
		left: -45px;
		background: linear-gradient(to left, $color-primary 0%, $color-secondary 100%);
	}

	&:after {
		content: '';
		position: absolute;
		width: 40px;
		height: 1px;
		top: 12px;
		right: -45px;
		background: linear-gradient(to left, $color-secondary 0%, $color-primary 100%);
	}

	img {
		width: 100%;
	}
}