@import '../../utils/_colors';

.contact {
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 90px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    h3 {
        margin-top: -20px;
    }

    .form__error {
        color: red;
        margin-top: 0;
    }

    input, textarea {
        width: 100%;
        padding: 10px 10px;
        border: 2px solid $color-primary;
        font-size: 1rem;
        border-radius: 5px;
    }

    .btn {
        background-color: $color-primary;
        margin-top: 5px;
        border-radius: 5px;
        padding: 15px 25px;
        color: #fff;
        font-size: 1.2rem;
        display: inline-block;
        cursor: pointer;
    }

    @media(min-width: 850px) {
        margin-bottom: 50px;
    }
}